@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
i {
    color: beige;
    font-size: 25px;
    
}

.active {
    background-color: gray;
    font-weight: bold;
   
}

nav {
    background-color: rgb(27, 27, 27);
}